<div class="app-container" padding>

    <app-title [titleText]="'users.titles.list'"></app-title>
    <div class="messages-container" *ngIf="!loading && (haveError || dataSource.data.length == 0)" flex jc-center ai-center column-nowrap >
        <div class="text" [innerText]="'users.empty_get_users' | translate | capitalize:'first'" *ngIf="!haveError"></div>
        <div class="text" [innerHTML]="'users.get_users_error' | translate | capitalize:'first'" error *ngIf="haveError"></div>

        <div class="btns-container" flex jc-start ai-center column-nowrap>
            <button mat-raised-button color="primary" (click)="createtUser()" *ngIf="!haveError">
                <span [innerText]="'new_user' | translate | capitalize:'first'"></span> <mat-icon material-icon>add</mat-icon>
            </button>
            <div class="separate" *ngIf="!haveError">
                <span [innerText]="'or' | translate | capitalize:'first'"></span>
            </div>
            <button mat-raised-button color="accent" (click)="getUsers()">
                <span [innerText]="'users.retry' | translate | capitalize:'first'"></span> <mat-icon fontawesome="refresh"></mat-icon>
            </button>
        </div>
    </div>

    <div class="table-container" [hidden]="loading || dataSource.data.length == 0" [@changeDivSize]=currentState>
        <div class="filter-container">
            <mat-icon material-icon>search</mat-icon>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'search_user' | translate | capitalize:'first'}}">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="text-container-header" flex jc-center ai-start row-nowrap>
                        <mat-icon fontawesome="key"></mat-icon>
                        <div class="text-header" [innerText]="'users.id' | translate | capitalize:'first'"></div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="text-container-header" flex jc-center ai-start row-nowrap>
                        <mat-icon fontawesome="user-o"></mat-icon>
                        <div class="text-header" [innerText]="'users.name' | translate | capitalize:'first'"></div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="birthdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="text-container-header" flex jc-center ai-start row-nowrap>
                        <mat-icon fontawesome="calendar"></mat-icon>
                        <div class="text-header" [innerText]="'users.birthdate' | translate | capitalize:'first'"></div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.birthdate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editUser(row)"></tr>
        </table>
    </div>
    <div class="add-btn-container">
        <button mat-fab color="primary" (click)="createtUser()"><mat-icon material-icon>add</mat-icon></button>
    </div>
</div>