$mat-custom-primary: (
    50 : #f5e5e6,
    100 : #e6bdc0,
    200 : #d69196,
    300 : #c6656c,
    400 : #b9444d,
    500 : #ad232d,
    600 : #a61f28,
    700 : #9c1a22,
    800 : #93151c,
    900 : #830c11,
    A100 : #ffb3b5,
    A200 : #ff8084,
    A400 : #ff4d52,
    A700 : #ff3439,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mat-custom-secondary: (
    50 : #fdf1e9,
    100 : #fadbc7,
    200 : #f6c4a2,
    300 : #f2ac7c,
    400 : #f09a60,
    500 : #ed8844,
    600 : #eb803e,
    700 : #e87535,
    800 : #e56b2d,
    900 : #e0581f,
    A100 : #ffffff,
    A200 : #ffebe4,
    A400 : #ffc6b1,
    A700 : #ffb397,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-custom-red: (
    50 : #fceae8,
    100 : #f8cac6,
    200 : #f4a7a0,
    300 : #ef8379,
    400 : #eb695d,
    500 : #e84e40,
    600 : #e5473a,
    700 : #e23d32,
    800 : #de352a,
    900 : #d8251c,
    A100 : #ffffff,
    A200 : #ffdcda,
    A400 : #ffaba7,
    A700 : #ff928e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);