$mat-custom-primary: (
    50 : #e6ebf0,
    100 : #c2ced9,
    200 : #99adc0,
    300 : #708ca6,
    400 : #517493,
    500 : #325b80,
    600 : #2d5378,
    700 : #26496d,
    800 : #1f4063,
    900 : #132f50,
    A100 : #8bbbff,
    A200 : #589eff,
    A400 : #2580ff,
    A700 : #0b71ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff
    )
);

$mat-custom-secondary: (
    50 : #fef5f1,
    100 : #fde5dc,
    200 : #fcd4c4,
    300 : #fbc3ac,
    400 : #fab69b,
    500 : #f9a989,
    600 : #f8a281,
    700 : #f79876,
    800 : #f68f6c,
    900 : #f57e59,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff6f3,
    A700 : #ffe2da,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-custom-red: (
    50 : #fceae8,
    100 : #f8cac6,
    200 : #f4a7a0,
    300 : #ef8379,
    400 : #eb695d,
    500 : #e84e40,
    600 : #e5473a,
    700 : #e23d32,
    800 : #de352a,
    900 : #d8251c,
    A100 : #ffffff,
    A200 : #ffdcda,
    A400 : #ffaba7,
    A700 : #ff928e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);