$colors: (
  	primary: 		#325b80,
  	primary_lg: 	#517493,
	primary_dk: 	#2d5378,
	secondary_lg:  	#fab69b,
	secondary:  	#f9a989,
	secondary_dk:  	#f8a281,
  	danger:     	#f53d3d,
  	medium: 		#7c8382,
  	light:      	#f2f2f2,
  	dark:       	#222,
  	green:			#43A047,
	grey:   		#bdbdbd,
	grey_medium:	darken(#bdbdbd, 25%),
	grey_dk: 		darken(#bdbdbd, 40%),
	grey_lg: 		lighten(#bdbdbd, 25%),
	yellow:			#FFEB3B,
	yellow_lg:		#FFEE58,
	yellow_dk:		#FBC02D
);


$app_setting: (
    width_content: 1024px
);