@import "~src/theme/variables";
.not-found-container{
    position: relative;
    margin: 50px auto;
    & > h1{
        font-size: 20px;
        line-height: 25px;
        color: map-get($colors, medium);
        text-align: center;
        & > span {
            color: map-get($colors, danger);
        }
    }
    & > .image-container{
        position: relative;
        margin: 30px 0px;
        & > img{
            max-width: 100%;
        }
    }
}