
<mat-card class="card-form" flex jc-start ai-start column-nowrap>
  <div class="input-container" flex jc-start ai-start row-nowrap *ngIf="isEditForm">
      <mat-icon fontawesome="key"></mat-icon>
      <div class="text" [innerText]="editData.id"></div>
  </div>
  <div class="input-container" flex jc-start ai-center row-nowrap>
      <mat-icon fontawesome="user-o"></mat-icon>
      <mat-form-field>
          <input matInput [placeholder]="'users.form.name' | translate | capitalize:'first'" [formControl]="credentials.name" maxlength="20" required input-clear="primary">
          <mat-error *ngIf="credentials.name.invalid && getErrorMessage('name') != 0" [innerText]="'users.form.errors.name.'+getErrorMessage('name') | translate | capitalize:'first'"></mat-error>
      </mat-form-field>
      <mat-icon material-icon clear (click)="clearInput('name')" *ngIf="credentials.name.value.toString().length > 0">close</mat-icon>
  </div>
  <div class="input-container" flex jc-start ai-center row-nowrap>
      <mat-icon fontawesome="calendar"></mat-icon>
      <mat-form-field class="date-picker-cm">
          <input [readonly]="true" matInput (click)="picker.open()" [matDatepicker]="picker" required [placeholder]="'users.form.birthdate' | translate | capitalize:'first'" [formControl]="credentials.birthdate">
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="credentials.birthdate.invalid && getErrorMessage('birthdate') != 0" [innerText]="'users.form.errors.birthdate.'+getErrorMessage('birthdate') | translate | capitalize:'first'"></mat-error>
      </mat-form-field>
      <mat-icon material-icon clear (click)="clearInput('birthdate')" *ngIf="credentials.birthdate.value.toString().length > 0">close</mat-icon>
  </div>
  <div class="btns-container" flex jc-between ai-start row-nowrap>
      <button mat-raised-button color="accent" (click)="return()">
          <mat-icon material-icon>keyboard_backspace</mat-icon> <span [innerText]="'return' | translate | capitalize:'first'"></span>
      </button>
      <button mat-raised-button color="primary" (click)="sendData()" [disabled]="!isFormValid()">
          <span [innerText]="'send' | translate | capitalize:'first'"></span> <mat-icon material-icon>send</mat-icon>
      </button>
  </div>
</mat-card>